p {
    font-family: "Josefin Sans", sans-serif;
    color: blueviolet;
}
h1 {
    font-family: "Barriecito", cursive;
}
h3 {
    font-family:"Josefin Sans", sans-serif;
}
h2 {
    font-family: "Yeseva One", cursive;
}
q{
    font-family: "Passion One", cursive;
}